/* Style dla SM */
@media (min-width: 576px) {}

/* Style dla MD */
@media (min-width: 768px) {}

/* Style dla LG */
@media (min-width: 992px) {}

/* Style dla XL */
@media (min-width: 1200px) {}

/* Style dla XXL */
@media (min-width: 1400px) {}

/* Ogólne */

body {
    font-size: 1rem;
    font-family: "Trebuchet MS", Verdana, Arial;
    overflow: auto;
}

.niebieskie-tlo {
    background-color: #008bb9;
}

/* Górny pasek nawigacji */

.navbar {
    font-size: 1.2rem;
}

.navbar-brand span {
    color: #242424;
}

.navbar-brand {
    font-size: 1.6rem;
}