/* Styles for SM */
@media (min-width: 576px) {}

/* Styles for MD */
@media (min-width: 768px) {}

/* Styles for LG */
@media (min-width: 992px) {}

/* Styles for XL */
@media (min-width: 1200px) {}

/* Styles for XXL */
@media (min-width: 1400px) {}

/* Global */

body {
    font-size: 1rem;
    font-family: "Trebuchet MS", Verdana, Arial;
    overflow: auto;
}

.blue-background {
    background-color: #008bb9;
}

/* Navigation bar */

.navbar {
    font-size: 1.2rem;
}

.navbar-brand span {
    color: #242424;
}

.navbar-brand {
    font-size: 1.6rem;
}